#intro-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#intro-content {
    display: flex;
    flex-direction: row;
}

#intro img {
    width: 700px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 25px;
}

#intro-left-content img {
    width: 350px;
    border-radius: 10px;
    margin-right: 15px;
}

#intro-right-content p {
    margin: 0px;
}

